.no-select {
    webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.header-result {
    margin-top:0;
}

.m-body {

}
.m-body .m-jumbotron {
    border: 1px solid #2d6ca2;
}

.m-jumbotron {
    margin-top:20px;
}
.m-container {
    padding-top:15px;
}

.span-orange {
    color:#f7931e;
}
.span-blue {
    color:#2d6ca2;
}

.light-blue {
    color:#28a4c9;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (min-width: 768px) {
    .result-th, .result-td {
        width:150px;
    }
    .m-body .result-table .result-wl-th {
        width: 40px;
        max-width:40px;

    }
    .m-body .result-table .result-wl-td {
        width: 40px;
        max-width:40px;

    }
}
@media (max-width: 767px) {
    .result-th, .result-td {
        width:100px;
    }
    .m-body .result-table .result-wl-th {
        width:35px;
        max-width:35px;
        padding-left:3px;
        padding-right:3px;

    }
    .m-body .result-table .result-wl-td {
        width:35px;
        max-width:35px;
        padding-left:3px;
        padding-right:3px;

    }
}
.result-table {
    table-layout: fixed;
}

.result-th, .result-td {

    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.result-table .result-td-right {

}

.m-body .result-table .result-wl-th {
    overflow: hidden;
}


.m-body .result-table .result-wl-td {
    overflow: hidden;

}

.result-td-green, #div-success {
    background-color:#dff0d8;
}

.result-td-red {
    background-color:rgba(232,124,124,0.5);
}

.result-td-yellow {
    background-color:rgba(237,237,97,0.5);
}

.result-table {
    margin-top:20px;

}

