#div-error {
    background-color:#f2dede;
    color:#222;
    display:none;
}
.m-form {
   padding:5px;
}

.m-modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding-left:0;
    margin-bottom:10px;
}
#div-success {
    display:none;
    margin-top:-20px;
    text-align:center;


}
#div-success h5 {

    padding-top:10px;
    padding-bottom:10px;
}

.header-page {
    margin-top:0;
}

h1, h2, h3, h4, h4, h5, h6, .h6, th {
    color:#555;
}

label {
    color:#555;
}

.modal h3, h4 {
    color:#333;


}

.modal h4 {
    margin-bottom: 15px;
}

.m-form-div {
    padding: 5px 15px 5px 15px;
    margin:0;

    border-radius:4px;
}
.modal .m-form-div:nth-child(2) {
    margin-top:5px;
}

.divider-form {
    border-top:1px solid #e5e5e5;
}